div.swatch.color-0 {
  position: relative;
  background-color: hsl(0, 100%, 50%);
}
div.swatch.color-0::before {
  content: "Color 0";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-0:hover {
  border: 1px solid black;
}
div.swatch.color-0:hover::before {
  opacity: 1;
}

div.swatch.color-1 {
  position: relative;
  background-color: hsl(3, 100%, 50%);
}
div.swatch.color-1::before {
  content: "Color 1";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-1:hover {
  border: 1px solid black;
}
div.swatch.color-1:hover::before {
  opacity: 1;
}

div.swatch.color-2 {
  position: relative;
  background-color: hsl(6, 100%, 50%);
}
div.swatch.color-2::before {
  content: "Color 2";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-2:hover {
  border: 1px solid black;
}
div.swatch.color-2:hover::before {
  opacity: 1;
}

div.swatch.color-3 {
  position: relative;
  background-color: hsl(9, 100%, 50%);
}
div.swatch.color-3::before {
  content: "Color 3";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-3:hover {
  border: 1px solid black;
}
div.swatch.color-3:hover::before {
  opacity: 1;
}

div.swatch.color-4 {
  position: relative;
  background-color: hsl(12, 100%, 50%);
}
div.swatch.color-4::before {
  content: "Color 4";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-4:hover {
  border: 1px solid black;
}
div.swatch.color-4:hover::before {
  opacity: 1;
}

div.swatch.color-5 {
  position: relative;
  background-color: hsl(15, 100%, 50%);
}
div.swatch.color-5::before {
  content: "Color 5";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-5:hover {
  border: 1px solid black;
}
div.swatch.color-5:hover::before {
  opacity: 1;
}

div.swatch.color-6 {
  position: relative;
  background-color: hsl(18, 100%, 50%);
}
div.swatch.color-6::before {
  content: "Color 6";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-6:hover {
  border: 1px solid black;
}
div.swatch.color-6:hover::before {
  opacity: 1;
}

div.swatch.color-7 {
  position: relative;
  background-color: hsl(21, 100%, 50%);
}
div.swatch.color-7::before {
  content: "Color 7";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-7:hover {
  border: 1px solid black;
}
div.swatch.color-7:hover::before {
  opacity: 1;
}

div.swatch.color-8 {
  position: relative;
  background-color: hsl(24, 100%, 50%);
}
div.swatch.color-8::before {
  content: "Color 8";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-8:hover {
  border: 1px solid black;
}
div.swatch.color-8:hover::before {
  opacity: 1;
}

div.swatch.color-9 {
  position: relative;
  background-color: hsl(27, 100%, 50%);
}
div.swatch.color-9::before {
  content: "Color 9";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-9:hover {
  border: 1px solid black;
}
div.swatch.color-9:hover::before {
  opacity: 1;
}

div.swatch.color-10 {
  position: relative;
  background-color: hsl(30, 100%, 50%);
}
div.swatch.color-10::before {
  content: "Color 10";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-10:hover {
  border: 1px solid black;
}
div.swatch.color-10:hover::before {
  opacity: 1;
}

div.swatch.color-11 {
  position: relative;
  background-color: hsl(33, 100%, 50%);
}
div.swatch.color-11::before {
  content: "Color 11";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-11:hover {
  border: 1px solid black;
}
div.swatch.color-11:hover::before {
  opacity: 1;
}

div.swatch.color-12 {
  position: relative;
  background-color: hsl(36, 100%, 50%);
}
div.swatch.color-12::before {
  content: "Color 12";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-12:hover {
  border: 1px solid black;
}
div.swatch.color-12:hover::before {
  opacity: 1;
}

div.swatch.color-13 {
  position: relative;
  background-color: hsl(39, 100%, 50%);
}
div.swatch.color-13::before {
  content: "Color 13";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-13:hover {
  border: 1px solid black;
}
div.swatch.color-13:hover::before {
  opacity: 1;
}

div.swatch.color-14 {
  position: relative;
  background-color: hsl(42, 100%, 50%);
}
div.swatch.color-14::before {
  content: "Color 14";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-14:hover {
  border: 1px solid black;
}
div.swatch.color-14:hover::before {
  opacity: 1;
}

div.swatch.color-15 {
  position: relative;
  background-color: hsl(45, 100%, 50%);
}
div.swatch.color-15::before {
  content: "Color 15";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-15:hover {
  border: 1px solid black;
}
div.swatch.color-15:hover::before {
  opacity: 1;
}

div.swatch.color-16 {
  position: relative;
  background-color: hsl(48, 100%, 50%);
}
div.swatch.color-16::before {
  content: "Color 16";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-16:hover {
  border: 1px solid black;
}
div.swatch.color-16:hover::before {
  opacity: 1;
}

div.swatch.color-17 {
  position: relative;
  background-color: hsl(51, 100%, 50%);
}
div.swatch.color-17::before {
  content: "Color 17";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-17:hover {
  border: 1px solid black;
}
div.swatch.color-17:hover::before {
  opacity: 1;
}

div.swatch.color-18 {
  position: relative;
  background-color: hsl(54, 100%, 50%);
}
div.swatch.color-18::before {
  content: "Color 18";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-18:hover {
  border: 1px solid black;
}
div.swatch.color-18:hover::before {
  opacity: 1;
}

div.swatch.color-19 {
  position: relative;
  background-color: hsl(57, 100%, 50%);
}
div.swatch.color-19::before {
  content: "Color 19";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-19:hover {
  border: 1px solid black;
}
div.swatch.color-19:hover::before {
  opacity: 1;
}

div.swatch.color-20 {
  position: relative;
  background-color: hsl(60, 100%, 50%);
}
div.swatch.color-20::before {
  content: "Color 20";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-20:hover {
  border: 1px solid black;
}
div.swatch.color-20:hover::before {
  opacity: 1;
}

div.swatch.color-21 {
  position: relative;
  background-color: hsl(63, 100%, 50%);
}
div.swatch.color-21::before {
  content: "Color 21";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-21:hover {
  border: 1px solid black;
}
div.swatch.color-21:hover::before {
  opacity: 1;
}

div.swatch.color-22 {
  position: relative;
  background-color: hsl(66, 100%, 50%);
}
div.swatch.color-22::before {
  content: "Color 22";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-22:hover {
  border: 1px solid black;
}
div.swatch.color-22:hover::before {
  opacity: 1;
}

div.swatch.color-23 {
  position: relative;
  background-color: hsl(69, 100%, 50%);
}
div.swatch.color-23::before {
  content: "Color 23";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-23:hover {
  border: 1px solid black;
}
div.swatch.color-23:hover::before {
  opacity: 1;
}

div.swatch.color-24 {
  position: relative;
  background-color: hsl(72, 100%, 50%);
}
div.swatch.color-24::before {
  content: "Color 24";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-24:hover {
  border: 1px solid black;
}
div.swatch.color-24:hover::before {
  opacity: 1;
}

div.swatch.color-25 {
  position: relative;
  background-color: hsl(75, 100%, 50%);
}
div.swatch.color-25::before {
  content: "Color 25";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-25:hover {
  border: 1px solid black;
}
div.swatch.color-25:hover::before {
  opacity: 1;
}

div.swatch.color-26 {
  position: relative;
  background-color: hsl(78, 100%, 50%);
}
div.swatch.color-26::before {
  content: "Color 26";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-26:hover {
  border: 1px solid black;
}
div.swatch.color-26:hover::before {
  opacity: 1;
}

div.swatch.color-27 {
  position: relative;
  background-color: hsl(81, 100%, 50%);
}
div.swatch.color-27::before {
  content: "Color 27";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-27:hover {
  border: 1px solid black;
}
div.swatch.color-27:hover::before {
  opacity: 1;
}

div.swatch.color-28 {
  position: relative;
  background-color: hsl(84, 100%, 50%);
}
div.swatch.color-28::before {
  content: "Color 28";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-28:hover {
  border: 1px solid black;
}
div.swatch.color-28:hover::before {
  opacity: 1;
}

div.swatch.color-29 {
  position: relative;
  background-color: hsl(87, 100%, 50%);
}
div.swatch.color-29::before {
  content: "Color 29";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-29:hover {
  border: 1px solid black;
}
div.swatch.color-29:hover::before {
  opacity: 1;
}

div.swatch.color-30 {
  position: relative;
  background-color: hsl(90, 100%, 50%);
}
div.swatch.color-30::before {
  content: "Color 30";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-30:hover {
  border: 1px solid black;
}
div.swatch.color-30:hover::before {
  opacity: 1;
}

div.swatch.color-31 {
  position: relative;
  background-color: hsl(93, 100%, 50%);
}
div.swatch.color-31::before {
  content: "Color 31";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-31:hover {
  border: 1px solid black;
}
div.swatch.color-31:hover::before {
  opacity: 1;
}

div.swatch.color-32 {
  position: relative;
  background-color: hsl(96, 100%, 50%);
}
div.swatch.color-32::before {
  content: "Color 32";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-32:hover {
  border: 1px solid black;
}
div.swatch.color-32:hover::before {
  opacity: 1;
}

div.swatch.color-33 {
  position: relative;
  background-color: hsl(99, 100%, 50%);
}
div.swatch.color-33::before {
  content: "Color 33";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-33:hover {
  border: 1px solid black;
}
div.swatch.color-33:hover::before {
  opacity: 1;
}

div.swatch.color-34 {
  position: relative;
  background-color: hsl(102, 100%, 50%);
}
div.swatch.color-34::before {
  content: "Color 34";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-34:hover {
  border: 1px solid black;
}
div.swatch.color-34:hover::before {
  opacity: 1;
}

div.swatch.color-35 {
  position: relative;
  background-color: hsl(105, 100%, 50%);
}
div.swatch.color-35::before {
  content: "Color 35";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-35:hover {
  border: 1px solid black;
}
div.swatch.color-35:hover::before {
  opacity: 1;
}

div.swatch.color-36 {
  position: relative;
  background-color: hsl(108, 100%, 50%);
}
div.swatch.color-36::before {
  content: "Color 36";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-36:hover {
  border: 1px solid black;
}
div.swatch.color-36:hover::before {
  opacity: 1;
}

div.swatch.color-37 {
  position: relative;
  background-color: hsl(111, 100%, 50%);
}
div.swatch.color-37::before {
  content: "Color 37";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-37:hover {
  border: 1px solid black;
}
div.swatch.color-37:hover::before {
  opacity: 1;
}

div.swatch.color-38 {
  position: relative;
  background-color: hsl(114, 100%, 50%);
}
div.swatch.color-38::before {
  content: "Color 38";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-38:hover {
  border: 1px solid black;
}
div.swatch.color-38:hover::before {
  opacity: 1;
}

div.swatch.color-39 {
  position: relative;
  background-color: hsl(117, 100%, 50%);
}
div.swatch.color-39::before {
  content: "Color 39";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-39:hover {
  border: 1px solid black;
}
div.swatch.color-39:hover::before {
  opacity: 1;
}

div.swatch.color-40 {
  position: relative;
  background-color: hsl(120, 100%, 50%);
}
div.swatch.color-40::before {
  content: "Color 40";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-40:hover {
  border: 1px solid black;
}
div.swatch.color-40:hover::before {
  opacity: 1;
}

div.swatch.color-41 {
  position: relative;
  background-color: hsl(123, 100%, 50%);
}
div.swatch.color-41::before {
  content: "Color 41";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-41:hover {
  border: 1px solid black;
}
div.swatch.color-41:hover::before {
  opacity: 1;
}

div.swatch.color-42 {
  position: relative;
  background-color: hsl(126, 100%, 50%);
}
div.swatch.color-42::before {
  content: "Color 42";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-42:hover {
  border: 1px solid black;
}
div.swatch.color-42:hover::before {
  opacity: 1;
}

div.swatch.color-43 {
  position: relative;
  background-color: hsl(129, 100%, 50%);
}
div.swatch.color-43::before {
  content: "Color 43";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-43:hover {
  border: 1px solid black;
}
div.swatch.color-43:hover::before {
  opacity: 1;
}

div.swatch.color-44 {
  position: relative;
  background-color: hsl(132, 100%, 50%);
}
div.swatch.color-44::before {
  content: "Color 44";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-44:hover {
  border: 1px solid black;
}
div.swatch.color-44:hover::before {
  opacity: 1;
}

div.swatch.color-45 {
  position: relative;
  background-color: hsl(135, 100%, 50%);
}
div.swatch.color-45::before {
  content: "Color 45";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-45:hover {
  border: 1px solid black;
}
div.swatch.color-45:hover::before {
  opacity: 1;
}

div.swatch.color-46 {
  position: relative;
  background-color: hsl(138, 100%, 50%);
}
div.swatch.color-46::before {
  content: "Color 46";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-46:hover {
  border: 1px solid black;
}
div.swatch.color-46:hover::before {
  opacity: 1;
}

div.swatch.color-47 {
  position: relative;
  background-color: hsl(141, 100%, 50%);
}
div.swatch.color-47::before {
  content: "Color 47";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-47:hover {
  border: 1px solid black;
}
div.swatch.color-47:hover::before {
  opacity: 1;
}

div.swatch.color-48 {
  position: relative;
  background-color: hsl(144, 100%, 50%);
}
div.swatch.color-48::before {
  content: "Color 48";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-48:hover {
  border: 1px solid black;
}
div.swatch.color-48:hover::before {
  opacity: 1;
}

div.swatch.color-49 {
  position: relative;
  background-color: hsl(147, 100%, 50%);
}
div.swatch.color-49::before {
  content: "Color 49";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-49:hover {
  border: 1px solid black;
}
div.swatch.color-49:hover::before {
  opacity: 1;
}

div.swatch.color-50 {
  position: relative;
  background-color: hsl(150, 100%, 50%);
}
div.swatch.color-50::before {
  content: "Color 50";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-50:hover {
  border: 1px solid black;
}
div.swatch.color-50:hover::before {
  opacity: 1;
}

div.swatch.color-51 {
  position: relative;
  background-color: hsl(153, 100%, 50%);
}
div.swatch.color-51::before {
  content: "Color 51";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-51:hover {
  border: 1px solid black;
}
div.swatch.color-51:hover::before {
  opacity: 1;
}

div.swatch.color-52 {
  position: relative;
  background-color: hsl(156, 100%, 50%);
}
div.swatch.color-52::before {
  content: "Color 52";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-52:hover {
  border: 1px solid black;
}
div.swatch.color-52:hover::before {
  opacity: 1;
}

div.swatch.color-53 {
  position: relative;
  background-color: hsl(159, 100%, 50%);
}
div.swatch.color-53::before {
  content: "Color 53";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-53:hover {
  border: 1px solid black;
}
div.swatch.color-53:hover::before {
  opacity: 1;
}

div.swatch.color-54 {
  position: relative;
  background-color: hsl(162, 100%, 50%);
}
div.swatch.color-54::before {
  content: "Color 54";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-54:hover {
  border: 1px solid black;
}
div.swatch.color-54:hover::before {
  opacity: 1;
}

div.swatch.color-55 {
  position: relative;
  background-color: hsl(165, 100%, 50%);
}
div.swatch.color-55::before {
  content: "Color 55";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-55:hover {
  border: 1px solid black;
}
div.swatch.color-55:hover::before {
  opacity: 1;
}

div.swatch.color-56 {
  position: relative;
  background-color: hsl(168, 100%, 50%);
}
div.swatch.color-56::before {
  content: "Color 56";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-56:hover {
  border: 1px solid black;
}
div.swatch.color-56:hover::before {
  opacity: 1;
}

div.swatch.color-57 {
  position: relative;
  background-color: hsl(171, 100%, 50%);
}
div.swatch.color-57::before {
  content: "Color 57";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-57:hover {
  border: 1px solid black;
}
div.swatch.color-57:hover::before {
  opacity: 1;
}

div.swatch.color-58 {
  position: relative;
  background-color: hsl(174, 100%, 50%);
}
div.swatch.color-58::before {
  content: "Color 58";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-58:hover {
  border: 1px solid black;
}
div.swatch.color-58:hover::before {
  opacity: 1;
}

div.swatch.color-59 {
  position: relative;
  background-color: hsl(177, 100%, 50%);
}
div.swatch.color-59::before {
  content: "Color 59";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-59:hover {
  border: 1px solid black;
}
div.swatch.color-59:hover::before {
  opacity: 1;
}

div.swatch.color-60 {
  position: relative;
  background-color: hsl(180, 100%, 50%);
}
div.swatch.color-60::before {
  content: "Color 60";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-60:hover {
  border: 1px solid black;
}
div.swatch.color-60:hover::before {
  opacity: 1;
}

div.swatch.color-61 {
  position: relative;
  background-color: hsl(183, 100%, 50%);
}
div.swatch.color-61::before {
  content: "Color 61";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-61:hover {
  border: 1px solid black;
}
div.swatch.color-61:hover::before {
  opacity: 1;
}

div.swatch.color-62 {
  position: relative;
  background-color: hsl(186, 100%, 50%);
}
div.swatch.color-62::before {
  content: "Color 62";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-62:hover {
  border: 1px solid black;
}
div.swatch.color-62:hover::before {
  opacity: 1;
}

div.swatch.color-63 {
  position: relative;
  background-color: hsl(189, 100%, 50%);
}
div.swatch.color-63::before {
  content: "Color 63";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-63:hover {
  border: 1px solid black;
}
div.swatch.color-63:hover::before {
  opacity: 1;
}

div.swatch.color-64 {
  position: relative;
  background-color: hsl(192, 100%, 50%);
}
div.swatch.color-64::before {
  content: "Color 64";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-64:hover {
  border: 1px solid black;
}
div.swatch.color-64:hover::before {
  opacity: 1;
}

div.swatch.color-65 {
  position: relative;
  background-color: hsl(195, 100%, 50%);
}
div.swatch.color-65::before {
  content: "Color 65";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-65:hover {
  border: 1px solid black;
}
div.swatch.color-65:hover::before {
  opacity: 1;
}

div.swatch.color-66 {
  position: relative;
  background-color: hsl(198, 100%, 50%);
}
div.swatch.color-66::before {
  content: "Color 66";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: #222222;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-66:hover {
  border: 1px solid black;
}
div.swatch.color-66:hover::before {
  opacity: 1;
}

div.swatch.color-67 {
  position: relative;
  background-color: hsl(201, 100%, 50%);
}
div.swatch.color-67::before {
  content: "Color 67";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-67:hover {
  border: 1px solid black;
}
div.swatch.color-67:hover::before {
  opacity: 1;
}

div.swatch.color-68 {
  position: relative;
  background-color: hsl(204, 100%, 50%);
}
div.swatch.color-68::before {
  content: "Color 68";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-68:hover {
  border: 1px solid black;
}
div.swatch.color-68:hover::before {
  opacity: 1;
}

div.swatch.color-69 {
  position: relative;
  background-color: hsl(207, 100%, 50%);
}
div.swatch.color-69::before {
  content: "Color 69";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-69:hover {
  border: 1px solid black;
}
div.swatch.color-69:hover::before {
  opacity: 1;
}

div.swatch.color-70 {
  position: relative;
  background-color: hsl(210, 100%, 50%);
}
div.swatch.color-70::before {
  content: "Color 70";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-70:hover {
  border: 1px solid black;
}
div.swatch.color-70:hover::before {
  opacity: 1;
}

div.swatch.color-71 {
  position: relative;
  background-color: hsl(213, 100%, 50%);
}
div.swatch.color-71::before {
  content: "Color 71";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-71:hover {
  border: 1px solid black;
}
div.swatch.color-71:hover::before {
  opacity: 1;
}

div.swatch.color-72 {
  position: relative;
  background-color: hsl(216, 100%, 50%);
}
div.swatch.color-72::before {
  content: "Color 72";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-72:hover {
  border: 1px solid black;
}
div.swatch.color-72:hover::before {
  opacity: 1;
}

div.swatch.color-73 {
  position: relative;
  background-color: hsl(219, 100%, 50%);
}
div.swatch.color-73::before {
  content: "Color 73";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-73:hover {
  border: 1px solid black;
}
div.swatch.color-73:hover::before {
  opacity: 1;
}

div.swatch.color-74 {
  position: relative;
  background-color: hsl(222, 100%, 50%);
}
div.swatch.color-74::before {
  content: "Color 74";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-74:hover {
  border: 1px solid black;
}
div.swatch.color-74:hover::before {
  opacity: 1;
}

div.swatch.color-75 {
  position: relative;
  background-color: hsl(225, 100%, 50%);
}
div.swatch.color-75::before {
  content: "Color 75";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-75:hover {
  border: 1px solid black;
}
div.swatch.color-75:hover::before {
  opacity: 1;
}

div.swatch.color-76 {
  position: relative;
  background-color: hsl(228, 100%, 50%);
}
div.swatch.color-76::before {
  content: "Color 76";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-76:hover {
  border: 1px solid black;
}
div.swatch.color-76:hover::before {
  opacity: 1;
}

div.swatch.color-77 {
  position: relative;
  background-color: hsl(231, 100%, 50%);
}
div.swatch.color-77::before {
  content: "Color 77";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-77:hover {
  border: 1px solid black;
}
div.swatch.color-77:hover::before {
  opacity: 1;
}

div.swatch.color-78 {
  position: relative;
  background-color: hsl(234, 100%, 50%);
}
div.swatch.color-78::before {
  content: "Color 78";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-78:hover {
  border: 1px solid black;
}
div.swatch.color-78:hover::before {
  opacity: 1;
}

div.swatch.color-79 {
  position: relative;
  background-color: hsl(237, 100%, 50%);
}
div.swatch.color-79::before {
  content: "Color 79";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-79:hover {
  border: 1px solid black;
}
div.swatch.color-79:hover::before {
  opacity: 1;
}

div.swatch.color-80 {
  position: relative;
  background-color: hsl(240, 100%, 50%);
}
div.swatch.color-80::before {
  content: "Color 80";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-80:hover {
  border: 1px solid black;
}
div.swatch.color-80:hover::before {
  opacity: 1;
}

div.swatch.color-81 {
  position: relative;
  background-color: hsl(243, 100%, 50%);
}
div.swatch.color-81::before {
  content: "Color 81";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-81:hover {
  border: 1px solid black;
}
div.swatch.color-81:hover::before {
  opacity: 1;
}

div.swatch.color-82 {
  position: relative;
  background-color: hsl(246, 100%, 50%);
}
div.swatch.color-82::before {
  content: "Color 82";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-82:hover {
  border: 1px solid black;
}
div.swatch.color-82:hover::before {
  opacity: 1;
}

div.swatch.color-83 {
  position: relative;
  background-color: hsl(249, 100%, 50%);
}
div.swatch.color-83::before {
  content: "Color 83";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-83:hover {
  border: 1px solid black;
}
div.swatch.color-83:hover::before {
  opacity: 1;
}

div.swatch.color-84 {
  position: relative;
  background-color: hsl(252, 100%, 50%);
}
div.swatch.color-84::before {
  content: "Color 84";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-84:hover {
  border: 1px solid black;
}
div.swatch.color-84:hover::before {
  opacity: 1;
}

div.swatch.color-85 {
  position: relative;
  background-color: hsl(255, 100%, 50%);
}
div.swatch.color-85::before {
  content: "Color 85";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-85:hover {
  border: 1px solid black;
}
div.swatch.color-85:hover::before {
  opacity: 1;
}

div.swatch.color-86 {
  position: relative;
  background-color: hsl(258, 100%, 50%);
}
div.swatch.color-86::before {
  content: "Color 86";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-86:hover {
  border: 1px solid black;
}
div.swatch.color-86:hover::before {
  opacity: 1;
}

div.swatch.color-87 {
  position: relative;
  background-color: hsl(261, 100%, 50%);
}
div.swatch.color-87::before {
  content: "Color 87";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-87:hover {
  border: 1px solid black;
}
div.swatch.color-87:hover::before {
  opacity: 1;
}

div.swatch.color-88 {
  position: relative;
  background-color: hsl(264, 100%, 50%);
}
div.swatch.color-88::before {
  content: "Color 88";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-88:hover {
  border: 1px solid black;
}
div.swatch.color-88:hover::before {
  opacity: 1;
}

div.swatch.color-89 {
  position: relative;
  background-color: hsl(267, 100%, 50%);
}
div.swatch.color-89::before {
  content: "Color 89";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-89:hover {
  border: 1px solid black;
}
div.swatch.color-89:hover::before {
  opacity: 1;
}

div.swatch.color-90 {
  position: relative;
  background-color: hsl(270, 100%, 50%);
}
div.swatch.color-90::before {
  content: "Color 90";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-90:hover {
  border: 1px solid black;
}
div.swatch.color-90:hover::before {
  opacity: 1;
}

div.swatch.color-91 {
  position: relative;
  background-color: hsl(273, 100%, 50%);
}
div.swatch.color-91::before {
  content: "Color 91";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-91:hover {
  border: 1px solid black;
}
div.swatch.color-91:hover::before {
  opacity: 1;
}

div.swatch.color-92 {
  position: relative;
  background-color: hsl(276, 100%, 50%);
}
div.swatch.color-92::before {
  content: "Color 92";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-92:hover {
  border: 1px solid black;
}
div.swatch.color-92:hover::before {
  opacity: 1;
}

div.swatch.color-93 {
  position: relative;
  background-color: hsl(279, 100%, 50%);
}
div.swatch.color-93::before {
  content: "Color 93";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-93:hover {
  border: 1px solid black;
}
div.swatch.color-93:hover::before {
  opacity: 1;
}

div.swatch.color-94 {
  position: relative;
  background-color: hsl(282, 100%, 50%);
}
div.swatch.color-94::before {
  content: "Color 94";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-94:hover {
  border: 1px solid black;
}
div.swatch.color-94:hover::before {
  opacity: 1;
}

div.swatch.color-95 {
  position: relative;
  background-color: hsl(285, 100%, 50%);
}
div.swatch.color-95::before {
  content: "Color 95";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-95:hover {
  border: 1px solid black;
}
div.swatch.color-95:hover::before {
  opacity: 1;
}

div.swatch.color-96 {
  position: relative;
  background-color: hsl(288, 100%, 50%);
}
div.swatch.color-96::before {
  content: "Color 96";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-96:hover {
  border: 1px solid black;
}
div.swatch.color-96:hover::before {
  opacity: 1;
}

div.swatch.color-97 {
  position: relative;
  background-color: hsl(291, 100%, 50%);
}
div.swatch.color-97::before {
  content: "Color 97";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-97:hover {
  border: 1px solid black;
}
div.swatch.color-97:hover::before {
  opacity: 1;
}

div.swatch.color-98 {
  position: relative;
  background-color: hsl(294, 100%, 50%);
}
div.swatch.color-98::before {
  content: "Color 98";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-98:hover {
  border: 1px solid black;
}
div.swatch.color-98:hover::before {
  opacity: 1;
}

div.swatch.color-99 {
  position: relative;
  background-color: hsl(297, 100%, 50%);
}
div.swatch.color-99::before {
  content: "Color 99";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
div.swatch.color-99:hover {
  border: 1px solid black;
}
div.swatch.color-99:hover::before {
  opacity: 1;
}

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #222222;
  background-color: #fafafa;
  line-height: 1.5;
}

h1 {
  padding: 1rem;
  font-size: 3rem;
  color: darkslategray;
  font-weight: 700;
  margin: 0;
}

p {
  padding: 1rem;
}

#popular {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card {
  width: 25%;
  border: 1px solid #222222;
  border-radius: 8px;
  background-color: #eaeff4;
  min-height: 100vh;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card p {
  padding: 1rem;
}

.swatches {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

#nav {
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #222222;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: teal;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.25rem;
}

nav a:hover {
  color: white;
}

a {
  color: teal;
}

a:hover {
  color: #004d4d;
}

footer {
  background-color: #222222;
  color: white;
  padding: 1rem;
  text-align: center;
  height: 100px;
}

.swatch {
  margin: 1px;
  width: 100px;
  height: 50px;
}

#items {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
  margin: 0 auto;
  width: 75%;
}

#items li span span:first-child {
  font-weight: bold;
}

#items li {
  font-size: 1.25rem;
  padding: 1rem;
  vertical-align: middle;
}

#items #controls {
  float: right;
}

button {
  background-color: #097cff;
  border: 1px solid #097cff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: #0064d5;
  border-color: #0064d5;
}

input.update {
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #222222;
}

#total:before {
  content: "Total: $";
}

#total {
  text-align: center;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}

form label {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

form label:nth-child(n+4) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type=text],
textarea {
  border: 2px solid #222222;
  border-radius: 8px;
  line-height: 2rem;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 1rem;
}

form button {
  margin: 0 auto;
  width: 90%;
}/*# sourceMappingURL=styles.css.map */