// Base Styles
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
$default-font-size: 18px;
$line-height: 1.5;

@mixin button($color) {
  background-color: $color;
  border: 1px solid $color;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: $spacing;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
}

// Spacing
$spacing: 1rem;

// Border
$border-radius: 8px;
$thicker-border: 2px solid #222222;

// Colours
$background-color: #fafafa;
$text-color: #222222;
$heading-color: darkslategray;
$link-color: teal;
$highlight: #eaeff4;
$button-color: #097cff;

// Swatches
@for $i from 0 through 99 {
  $hue: $i * 3;
  $color: hsl($hue, 100%, 50%);
  $tooltip-color: if($i < 67, #222222, white);
  div.swatch.color-#{$i} {
    position: relative;
    background-color: $color;

    &::before {
      content: "Color #{$i}";
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem;
      color: $tooltip-color;
      opacity: 0;
      font-size: 0.75rem;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      border: 1px solid black;

      &::before {
        opacity: 1;
      }
    }
  }
}

body,
html {
  margin: 0;
  font-family: $font-family;
  font-size: $default-font-size;
  color: #222222;
  background-color: $background-color;
  line-height: $line-height;
}

h1 {
  padding: $spacing;
  font-size: 3rem;
  color: $heading-color;
  font-weight: 700;
  margin: 0;
}

p {
  padding: $spacing;
}

#popular {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card {
  width: 25%;
  border: 1px solid #222222;
  border-radius: 8px;
  background-color: $highlight;
  min-height: 100vh;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card p {
  padding: $spacing;
}

.swatches {
  padding: $spacing;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

#nav {
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #222222;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: $link-color;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.25rem;
}

nav a:hover {
  color: white;
}

a {
  color: $link-color;
}

a:hover {
  color: darken($link-color, 10%);
}

footer {
  background-color: #222222;
  color: white;
  padding: $spacing;
  text-align: center;
  height: 100px;
}

.swatch {
  margin: 1px;
  width: 100px;
  height: 50px;
}

#items {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
  margin: 0 auto;
  width: 75%;
}

#items li span span:first-child {
  font-weight: bold;
}

#items li {
  font-size: 1.25rem;
  padding: 1rem;
  vertical-align: middle;
}

#items #controls {
  float: right;
}

button {
  @include button($button-color);
}

input.update {
  padding: $spacing;
  border-radius: $border-radius;
  border: $thicker-border;
}

#total:before {
  content: "Total: $";
}

#total {
  text-align: center;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: calc($spacing * 2);
}

form label {
  padding: $spacing;
  display: flex;
  flex-direction: column;
}

form label:nth-child(n + 4) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="text"],
textarea {
  border: 2px solid #222222;
  border-radius: $border-radius;
  line-height: 2rem;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1rem;
}

form button {
  margin: 0 auto;
  width: 90%;
}
